{% extends 'base.html.twig' %}

{% block head %}

{% endblock %}
{% block body %}

<div class="jumbotron text-center">
  <h1>{{controller_name}}</h1>
</div>

<table class="table table-hover">
    <thead>
      <tr class="table-primary">
        <th scope="col">ID</th>
        <th scope="col">Course</th>
      </tr>
    </thead>

{% for regist in regists %}
<tr>
  <td>{{regist.id}}</td>
    <a href="#"><td>{{regist.Course}}</td></a>
  </tr>
{% endfor %}
</table>

<center>
  <br>
  {% for message in app.flashes("success") %}
    <div class="alert alert-success col-md-5">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes("danger") %}
  <div class="alert alert-danger col-md-5">
      {{ message }}
  </div>
  {% endfor %}
</center>

<div class="jumbotron text-center">
  <h1>New Registration</h1>
</div>

<div class="container" >
  {{form_start(form)}}
  {{ form_errors(form)}}
  <div class="form-group">
    <div class="form-row">
      <div class="col">
        {{form_row(form.Course, {'attr':{'placeholder':'Name'}})}}
      </div>
      <div class="col">
        {{form_row(form.CourseKey, {'attr':{'placeholder':'Key of the course'}})}}
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
      </div>
    </div>
  </div>
  
  {{form_end(form)}}
</div>

{% endblock %}
