{% extends 'base.html.twig' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}

{% block body %}

<center>
  {% for message in app.flashes("success") %}
    <div class="alert alert-success col-md-5">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes("danger") %}
  <br>
  <div class="alert alert-danger">
      {{ message }}
  </div>
  {% endfor %}
</center>

<div class="jumbotron text-center">
  <h1>{{controller_name}}</h1>
</div>

<center>
  {% if mediumNote >= 10 %}
    <div class="alert alert-dismissible alert-success">
      <h3>Medium note of your selection : {{mediumNote}}</h3>
    </div>
  {% else %}
    <div class="alert alert-dismissible alert-danger">
      <h3>Medium note of your selection : {{mediumNote}}</h3>
    </div>
  {% endif %}
</center>

<div class="container">
	{{form_start(searchForm)}}
	{{ form_errors(searchForm) }}
	<div class="form-row">
    <div class="col">
      {{form_row(searchForm.course)}}
    </div>
    <div class="col">
      {{form_row(searchForm.student)}}
    </div>
  </div>
  {{form_row(searchForm.class, {'label':false  , 'attr':{ 'style':'display:none'}})}}

	<div class="form-row">
	  <div class="col">
		<button type="submit" class="btn btn-primary btn-lg btn-block">Search</button>
	  </div>
	</div>
</div>
{{form_end(searchForm)}}
<canvas id="chart" width="400" height="100"></canvas>


<table class="table table-hover">
    <thead>
      <tr class="table-primary">
        <th scope="col">Course</th>
        <th scope="col">Student</th>
        <th scope="col">Note / 20</th>
      </tr>
    </thead>

{% for note in notes %}
<tr >
    <td>{{note.Course}}</td>
    <td>{{note.User}}</td>
    <td>{{note.Note}}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}

{% block javascripts %}

{% include "student/javascriptDashboard.html.twig" %}

{% endblock %}
